body{
    font-family: calibri;
    text-align: center;
}

.menu1{
    
    background-color: #6886F1; 
    color: aliceblue;
}

.menu2{
    background-color: #9EB1F4;
}

.menu3{
    background-color: #BAC6F2;
}

.menu4{
    background-color: #9EB1F4;
}

.menu5{
    background-color: #BAC6F2;
}